@tailwind base;
@tailwind components;
@tailwind utilities;

html {
   scroll-behavior: smooth;
}

:root {
   --clr-branding-primary: #0aa5ff;
   --clr-txt-primary: #282828;
   --clr-txt-secondary: #636465;
   --clr-txt-tertiary: #939393;
   --surface-card: #ffffff;
   --surface: #ffffff;
   --surface-01: #f7f7f7;
   --surface-02: #e7f2f9;
   --border: #e6e9ee;
   --glass-surface: rgba(255, 255, 255, 0.7);
   --glass-border: rgba(255, 255, 255, 0.3);
   --bg-gradient-start: rgba(255, 255, 255, 1);
   --bg-gradient-middle: rgba(255, 255, 255, 0.7);
   --bg-gradient-end: transparent;
   --accent-red: #f24e1e;
   --accent-orange: #ff7262;
   --accent-green: #0acf83;
   --accent-purple: #a259ff;
   --clr-txt-highlight: #242424;
   --clr-highlight: rgb(10, 165, 255, 0.30);
   
}

.dark {
   --clr-branding-primary: #33b8ff;
   --clr-txt-primary: #ffffff;
   --clr-txt-secondary: #a9adc1;
   --clr-txt-tertiary: #9397a5;
   --surface-card: #2e3039;
   --surface: #1f2028;
   --surface-01: #2e3039;
   --surface-02: #3e3e3e;
   --border: #4b4c53;
   --glass-surface: rgba(31, 32, 40, 0.95);
   --glass-border: rgba(31, 32, 40, 0.3);
   --bg-gradient-start: rgba(31, 32, 40, 1);
   --bg-gradient-middle: rgba(31, 32, 40, 0.7);
   --bg-gradient-end: transparent;
   /* --clr-txt-highlight: #E6E6E6; */
   --clr-txt-highlight: #FFFFFF;
   --clr-highlight: rgba(53, 175, 246, 0.881);
}

body {
   background-size: 200px 200px;
   background-position: 0 0;
   font-family: var(--tt-norms), sans-serif;
}
* {
   cursor: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: var(--tt-norms), sans-serif;
}

/* Full page modal */
.glass-blur {
   background-color: var(--glass-surface);
   backdrop-filter: blur(40px);
   -webkit-backdrop-filter: blur(40px);
   border: 1px solid var(--glass-border);
}

/* Footer */

.icon-container {
   padding: 4px;
   border-radius: 50%;
}

.vercel-icon {
   background-color: white;
}

.dark .vercel-icon {
   background-color: black;
}
.dark .vercel-icon img {
   filter: brightness(0) invert(1);
   scale: 0.7;
}

.vercel-icon {
   background-color: white;
}

.dark .next-icon img {
   filter: brightness(0) invert(1);
}

.segmented-control .selection {
   background: var(--surface-01);
   border: 0.5px solid rgba(0, 0, 0, 0.04);
   box-shadow:
      0 3px 8px 0 rgba(0, 0, 0, 0.12),
      0 3px 1px 0 rgba(0, 0, 0, 0.04);
   border-radius: 7px;
   z-index: 1; /* Ensure this is behind the text */
   will-change: transform;
   transition: transform 0.2s ease;
}

.highlight {
   /* background-color: var(--primary); */
   color: red;
   padding: 4px 8px;
   border-radius: 4px;
}

.bg-accent-red {
   background-color: #f24e1e !important;
}
.bg-accent-orange {
   background-color: #ff7262 !important;
}
.bg-accent-green {
   background-color: #0acf83 !important;
}
.bg-accent-purple {
   background-color: #a259ff !important;
}
