@tailwind base;
@tailwind components;
@tailwind utilities;

html {
   scroll-behavior: smooth;
}

:root {
   --clr-branding-primary: #0aa5ff;
   --clr-txt-primary: #282828;
   --clr-txt-secondary: #636465;
   --clr-txt-tertiary: #939393;
   --surface: #FFFFFF;
   --surface-01:#e7f2f9;
   --surface-02: #bde3ff;
   --accent-red: #f24e1e;
   --accent-orange: #ff7262;
   --accent-green: #0acf83;
   --accent-purple: #a259ff;
   --charcoal: #0064c8;
}

.dark { 
   --clr-txt-primary: #e72b2b;
   --clr-txt-secondary: '#636465';
   --clr-txt-tertiary: #939393;
   --surface:#1D1D1B;
   --surface-01: #bde3ff;
}


body {
   background-size: 200px 200px;
   background-position: 0 0;
   font-family: var(--tt-norms), sans-serif;
}
* {
   /* cursor: none; */
}





h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: var(--tt-norms), sans-serif;
}



/* Full page modal */
.glass-blur {
   background-color: rgba(255, 255, 255, 0.7); 
   backdrop-filter: blur(40px); 
   -webkit-backdrop-filter: blur(40px); 
   border: 1px solid rgba(255, 255, 255, 0.3); 
 }
 

/* Footer */

.icon-container {
   padding: 4px;
   border-radius: 50%;
}

.vercel-icon {
   background-color: white;
}

.dark .vercel-icon {
   background-color: black;
}
.dark .vercel-icon img {
   filter: brightness(0) invert(1);
   scale: 0.7;
}

.vercel-icon {
   background-color: white;
}

.dark .next-icon img {
   filter: brightness(0) invert(1);
}

.segmented-control {
   --background: rgba(239, 239, 240, 1);
}

.segmented-control .selection {
   background: rgba(255, 255, 255, 1);
   border: 0.5px solid rgba(0, 0, 0, 0.04);
   box-shadow:
      0 3px 8px 0 rgba(0, 0, 0, 0.12),
      0 3px 1px 0 rgba(0, 0, 0, 0.04);
   border-radius: 7px;
   z-index: 1; /* Ensure this is behind the text */
   will-change: transform;
   transition: transform 0.2s ease;
}

.highlight {
   /* background-color: var(--primary); */
   color: white;
   padding: 4px 8px;
   border-radius: 4px;
}
